<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="page-title">
        <h2><%= taxon.name %></h2>
      </div>
    </div>
    <div class="col-xs-6">
      <ol class="breadcrumb pull-right">
        <li>
          <%= link_to("Home", potepan_path) %>
        </li>
        <% taxon.ancestors.each do |ancestor| %>
          <li>
            <%= link_to(ancestor.name, potepan_category_path(ancestor.id)) %>
          </li>
        <% end %>
        <li>
          <%= taxon.name %>
        </li>
      </ol>
    </div>
  </div>
</div>
