<% if product.has_variants? %>
  <span class="quick-drop">
    <%= form_tag(potepan_product_path(params[:id]), method: :get) do %>
      <%= select_tag(:variation, options_for_select(options_texts(product), selected: selected_variant.id), class: "select-drop", onChange: "this.form.submit()") %>
    <% end %>
  </span>
<% end %>

<span class="quick-drop resizeWidth">
  <select name="stock" id="stock" class="select-drop">
  <!--   <option value="0">Qty</option> -->
    <%= selected_variant.stock_items.first.count_on_hand.times do |i| %>
      <option value="<%= i + 1 %>"><%= i + 1 %></option>
    <% end %>
  </select>
</span>
<div class="btn-area">
  <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
