<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#details">details</a></li>
  <li><a data-toggle="tab" href="#about-art">about art</a></li>
  <li><a data-toggle="tab" href="#sizing">sizing</a></li>
  <li><a data-toggle="tab" href="#shipping">shipping</a></li>
</ul>
<div class="tab-content">
  <div id="details" class="tab-pane fade in active">
    <ul class="list-unstyled">
      <% product.product_properties.each do |product_property| %>
        <li><%= "#{product_property.property.presentation} ： #{product_property.value}" %></li>
      <% end %>
    </ul>
  </div>
  <div id="about-art" class="tab-pane fade">
    <p>Nulla facilisi. Mauris efficitur, massa et iaculis accumsan, mauris velit ultrices purus, quis condimentum nibh dolor ut tortor. Donec egestas tortor quis mattis gravida. Ut efficitur elit vitae dignissim volutpat. </p>
  </div>
  <div id="sizing" class="tab-pane fade">
    <p>Praesent dui felis, gravida a auctor at, facilisis commodo ipsum. Cras eu faucibus justo. Nullam varius cursus nisi, sed elementum sem sagittis at. Nulla tellus massa, vestibulum a commodo facilisis, pulvinar convallis nunc.</p>
  </div>
  <div id="shipping" class="tab-pane fade">
    <p>Mauris lobortis augue ex, ut faucibus nisi mollis ac. Sed volutpat scelerisque ex ut ullamcorper. Cras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus.</p>
  </div>
</div>
