<div class="col-xs-12">
  <div class="page-header">
    <h4>関連商品</h4>
  </div>
</div>
<div class="col-xs-12">
  <div class="owl-carousel featuredProductsSlider">
    <% related_products.each do |related_product| %>
      <div class="slide productBox">
        <div class="productImage clearfix">
          <%= image_tag(related_product.display_image.attachment(:small)) %>
          <div class="productMasking">
            <ul class="list-inline btn-group" role="group">
              <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
              <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
              <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="productCaption clearfix">
          <%= link_to potepan_product_path(related_product.id) do %>
            <h5><%= related_product.name %></h5>
            <h3><%= related_product.display_price %></h3>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
