<%= provide(:title, "#{@product.name} - BIGBAG Store") %>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <%= render "light_section", product: @product %>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div id="images">
            <%= render "images", images: @selected_variant.images %>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li><a href="product_grid_left_sidebar.html"><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a></li>
              <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>

            <%= render "cart_form", product: @product, selected_variant: @selected_variant %>

            <div class="tabArea">
              <%= render "product_properties", product: @product %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <%= render "related_product", related_products: @related_products %>
    </div>
  </div>
</section>
