<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render "layouts/header" %>

      <%= yield %>
      <%= render "layouts/footer" %>
      <%= render "layouts/copy_right" %>
    </div>
    <%= render "layouts/modal" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
